/* Universal Style CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #fff;
    --bg: rgb(0, 0, 33);
    --navbt: rgb(18, 18, 62);
    --lnavbt: rgb(170, 107, 228);
    --menuT: #1e5696;
    --menuTL: #2e8fcf;
    --navh: rgb(255, 255, 255);
    --icon: #bae6ff;
}

body {
    background-color: var(--bg);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
}

hr {
    border: 0;
    background: var(--lnavbt);
    height: 1px;
    width: 85vw;
    margin: 20px auto;
}

h1 {
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: none;
    letter-spacing: .3rem;
}





/* Header and Sticky Navbar */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.sticky+main {
    padding-top: 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: var(--navbt);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--white);
    position: relative;
    z-index: 1;
    margin: 0 10px;
    padding: 10px 20px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: var(--navh);
}

nav ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: var(--lnavbt);
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}





/* Aside Social Media */
aside {
    position: fixed;
    top: 130px;
    right: 15px;
}

aside a img {
    width: 30px;
    margin: 3px 0;
}

aside+main {
    padding-top: 100px;

}













/* Section Title */
.section-title .Section-title-name {
    color: var(--menuT);
    letter-spacing: .6rem;
    font-weight: 500;
    font-size: 1rem;
}

.section-title .Section-title-name:after {
    content: "";
    width: 130px;
    height: 1.2px;
    display: inline-block;
    background: var(--menuTL);
    margin: 4px 8px;
}

.section-title p {
    font-size: 1.9rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 700;
    margin-bottom: 20px;
}




















/* First Section Name and Photo */
.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 115px 0;
}

.firstSection>div {
    width: 35%;
}

.leftSection {
    font-size: 3rem;
}

/* My Name and Field Name */
.titleName {
    color: var(--lnavbt);
    font-weight: 600;
    text-transform: uppercase;
}

.fieldName {
    color: var(--lnavbt);
    font-weight: 600;
}

/* Resume and Github btn */
.resumeGithub {
    margin: 30px 0;
}

.resumeGithub a {
    margin: 0 20px;
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--white);
    padding: 10px 20px;
    background: var(--navbt);
    border: 1px solid var(--lnavbt);
    position: relative;
    z-index: 0;
    border-radius: 7px;
}

.resumeGithub a:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.resumeGithub a:active {
    color: var(--black);
    background: transparent;
    font-weight: bolder;
    transition: all .1s;
}

.resumeGithub a:hover:before {
    opacity: 1;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* Right Section Photo */
.rightSection img {
    width: 80%;
}






/* Second Section About and Resume */
.secondSection {
    width: 80vw;
    margin: auto;
}

.aboutSetion {
    display: flex;
    flex-wrap: wrap;

}

.aleft {
    flex: 30%;
}

.aright {
    flex: 70%;
}

.aleft img {
    width: 90%;
}


.aright h2 {
    color: var(--menuTL);
}

.aright p {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.col-1 {
    flex: 50%;
}

.row .col-1 ul li {
    list-style: none;
    font-weight: 400;
    font-size: 1.25rem;
}

.row .col-1 ul li i {
    color: var(--menuTL);
    font-weight: bolder;
    font-size: 2rem;
    margin-right: 10px;
}

@media (max-width: 1000px) {

    .aleft,
    .aright {
        flex: 100%;
    }

    .aleft img {
        width: 100%;
    }
}





/* Card's Work, Project etc. */
.card-row {
    margin: 60px 0;
    display: flex;
    flex-wrap: wrap;
}

.card-box {
    flex: 25%;
    max-width: 25%;
}

.card {
    text-align: center;
    padding: 30px 25px;
    position: relative;
    margin: 0 15px;
    background-color: var(--navbt);
}

.card-row .card-box .card p {
    font-size: 1rem;
    font-weight: 100;
}

.card-row .card-box .card span {
    font-size: 2rem;
}

.card-row .card-box .card i {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    padding: 20px;
    color: var(--icon);
    border-radius: 50%;
    line-height: 0;
    background: rgba(0, 0, 0, 0.3);
}

/* Responsive Card's Work, Project etc. */
@media (max-width: 1290px) {
    .card-box {
        flex: 50%;
        max-width: 50%;
    }

    .card-box:nth-child(3),
    .card-box:nth-child(4) {
        margin-top: 65px;
    }
}

@media (max-width: 650px) {
    .card-box {
        flex: 100%;
        max-width: 100%;
    }

    .card-box:nth-child(2),
    .card-box:nth-child(3),
    .card-box:nth-child(4) {
        margin-top: 65px;
    }
}





/* Skiils Progress Bar */
.skill-container {
    margin-bottom: 40px;
}

.skills-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.skills-row .skill-col {
    flex: 50%;
    max-width: 50%;
}

.skills-row .skill-col .skill-col-p {
    margin-right: 20px;
}

.skill-col-p .progress {
    width: 100%;
    margin: 20px 0;
}

.skill-col-p .progress .skill {
    display: flex;
    justify-content: space-between;
}

.skill-col-p .progress .skill i:after {
    content: '%';
}

.progress .progress-bar-wrap {
    width: 100%;
    height: 15px;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
}

.progress .progress-bar-wrap .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--icon);
    transition: all 1s;
}

@media (max-width: 1100px) {
    .skills-row .skill-col {
        flex: 100%;
        max-width: 100%;
    }
}






/* Intrests */
.intrest-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.intrest-row .intrest-card {
    flex: 25%;
    max-width: 25%;
}

.intrest-row .intrest-card .intrest-box {
    background-color: var(--navbt);
    margin: 10px;
    height: 100px;
}

.intrest-box .intrest-icon {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 25px;
}
.intrest-box .intrest-icon img {
    margin-right: 15px;
    width: 35px;
}
@media (max-width: 1130px){
    .intrest-row .intrest-card {
        flex: 33.3%;
        max-width: 33.3%;
    }
}
@media (max-width: 1020px){
    .intrest-row .intrest-card {
        flex: 50%;
        max-width: 50%;
    }
}
@media (max-width: 660px){
    .intrest-row .intrest-card {
        flex: 100%;
        max-width: 100%;
    }
}